API_URL=api_url_here
API_BASIC=api_basic_authentication
# ^ only include if the API requires Authorization: Basic, provide as base64(username:password) only

API_KEY_UPTIME=api_key_here
API_KEY_AUTH=api_key_here