---
import Layout from "@layouts/root.astro";
---

<Layout page="Page Not Found" do_not_index={true}>
    <main
        class="flex-1 mx-auto container flex items-center justify-center text-center py-24 px-4 sm:px-6 lg:px-8"
    >
        <div>
            <span class="text-4xl md:text-6xl font-bold leading-tight mt-8 mb-6">
                404
            </span>
            <h1 class="sm:text-lg">Page not found</h1>
        </div>
    </main>
</Layout>
