---
import Layout from "@layouts/root.astro";

import Hero from "@partials/home/hero.astro";
import Services from "@partials/home/services.astro";
import About from "@partials/home/about.astro";
---

<Layout
    title="Veblex - One Ecosystem. Infinite Services."
    description="Veblex is a unified platform powering Gym, Calendar, Auth & more. One identity, one design system, built for teams that ship fast."
>
    <main class="flex-1">
        <Hero />
        <Services />
        <About />
    </main>
</Layout>
