---
import BlogLayout from "@layouts/blogLayout.astro";
---

<BlogLayout page="Press">
    <h1 class="my-4 text-4xl font-bold tracking-tight">Press</h1>
    <p class="text-lg text-muted-foreground">There are no posts here yet...</p>
</BlogLayout>
